<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.hyoromo.vocaloidclockwidget"
    android:versionCode="3"
    android:versionName="0.6.0"
>
    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
    >
        <!-- ウィジェット初期値設定 -->
        <activity
            android:name=".widget.SettingActivity"
            android:label="@string/setting_name"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- 時計ウィジェットのProvide -->
        <receiver
            android:name=".widget.ClockProvider"
        >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="jp.hyoromo.vocaloidclockwidget.ACTION_ALARM" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget"
            ></meta-data>
        </receiver>

        <!-- 時計更新用のService -->
        <service android:name=".widget.ClockService" />

        <!-- マニュアル -->
        <activity
            android:name=".ManualActivity"
            android:label="@string/app_manual_name"
            android:configChanges="orientation|keyboardHidden">
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="4" />
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:anyDensity="true"
    ></supports-screens>
</manifest>